# Use the Vertex AI Engine
GOOGLE_GENAI_USE_VERTEXAI=1

# Vertex backend config
GOOGLE_CLOUD_PROJECT=__YOUR_CLOUD_PROJECT_ID__
GOOGLE_CLOUD_LOCATION=__YOUR_CLOUD_LOCATION__

# GCS Storage Bucket name - for Agent Engine deployment test
GOOGLE_CLOUD_STORAGE_BUCKET=__YOUR_BUCKET_NAME__

# Sample Scenario Path - Default is the empty state
TRIP_PLANNER_SCENARIO=trip_planner/scenarios/empty_default.json

# log level
LOG_LEVEL=INFO